---
permalink: /humans.txt
eleventyExcludeFromCollections: true
---
/* TEAM */
  Name: Anatolij Vasilev
  Role: Developer
  Site: https://r0.fyi
  Github: tolik518
  Location: Berlin, Germany

/* SITE */
  Last update: {{ buildDate }}
  Doctype: HTML5
  Technologies: Eleventy, Nunjucks, HTML5, CSS3
  Source: Statically generated HTML, No JavaScript
  Repository: https://github.com/tolik518/r0.fyi